/* Navbar Styling */
.custom-navbar {
    background-color:#34495e ;
    padding: 10px 20px;
}
body{
    background-color:white;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}
.new{
    background-color: #6fa4ae;
}
/* Logo */
.nav-logo {
    color: white;
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
}

/* Navigation Links */
.nav-links {
    display: flex;
}

.nav-item {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-size: 18px;
}

.nav-item.active {
    font-weight: bold;
}

/* Search Form */
.search-form {
    display: flex;
    align-items: center;
}

.search-input {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 5px;
}

.search-button {
    background-color: #6fa4ae;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #6fa4ae;
    background-color: #a46f2f;
}
